name: CI Pipeline

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.8, 3.9,"3.10" ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          cd Chapter4   
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run tests
        run: |
          cd Chapter4
          python -m unittest discover 

      - name: notify us of success
        run: echo "Tests passed on Python ${{ matrix.python-version }}"
          if: success()