name: Hassan Docker Hub CI
on: [push]

jobs:
  build and publish:
    runs-on: ubuntu-latest
    permissions:
      id-tokens: write
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}  
      