name: Secrets CI

on: [push]

jobs:
  secrets:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: use secret
        run: echo "The secret is: ${{ secrets.MY_SECRET }}"
